# Server Configuration
PORT=8080
ALLOWED_ORIGINS=http://localhost:3000

# Database Configuration
DATABASE_URL=

# MinIO Configuration
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=coursehunt
MINIO_BASE_URL=http://localhost:9000/coursehunt
MINIO_SECURE=false

# Authentication Configuration
BETTER_AUTH_SECRET=
BETTER_AUTH_COOKIE_NAME=better-auth.session_token
JWKS_URL=http://localhost:3000/api/auth/jwks

# Next.js Configuration
NEXT_PUBLIC_API_URL=http://localhost:8080
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Google OAuth Configuration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL="http://localhost:3000/api/auth/callback/google"
